@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background: url(/assets/bg-user.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.mahasiswa{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container{
    min-width: none;
    margin: 0;
}

.top-bar{
    width: 100%;
    background-color: #41439A;
    position: fixed;
    top: 0;
    z-index: 5;
    color: white;
}

.top-bar .logo, .link, .link li, .avatar{ 
    display: inline-block;
}

.logo .logo-jti{
    width: 35px;
    height: 35px;
    margin-left: 35px;
    margin-top: 2px;
}

.link ul{
    margin-left: 390px;
    margin-top: 10px;
}

.link li{
    margin-right: 10px;
}

ul li a{
    text-decoration: none;
    color: white;
}

.navbar a.logout{
    margin-left: 290px;
}

.menu-toggle{
    color: rgb(94, 94, 94);
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.main-content{
    background-color: #d9d9d9;
    margin-top: 100px;
    width: 98%;
    vertical-align: middle;
    margin-left: 20px;
    padding: 20px 20px;
    filter: drop-shadow(8px 10px 4px black);
    margin-bottom: 50px;
    border-radius: 10px;
}

.pengajuan-image img{
    position: relative;
    height: 530px;
    width: 95%;
    margin-top: 10px;
}

.pengajuan-inputan form{
    display: inline-block;
    margin-top: 4px;
}

.button-submit{
    display: inline-block;
}

.button-submit .btn:hover{
    background-color: #FBC93D;
    color: black;
}

.button-back{
    display: inline-block;
}

.button-back .btn:hover{
    background-color: red;
}

.pilih-ruangan select{
    width: 50%;
    height: 38px;
}

.pukul span{
    display: block;
}

.pukul_mulai{
    display: inline-block;
    width: 25%;
}

span.range_pukul{
    display: inline-block;
}

.pukul_selesai{
    display: inline-block;
    width: 25%;
}

.kembali {
    display: inline-block;
}

.kembali a{
    text-decoration: none;
}

@media screen and (max-width: 812px) {
    .top-bar{
        padding: 0 20px;
    }

    .logo .logo-jti{
        margin-top: -45px;
    }

    .link ul{
        margin-left: 15px;
    }

    .link li{
        display: block;
        font-size: 20px;
        margin-top: 50px;
    }

    .navbar a.logout{
        margin-left: 10px;
    }

    .menu-toggle{
        display: block;
        margin-left: 600px;
        color: white;
    }

    .top-bar nav{
        position: absolute;
        width: 100%;
        height: 500px;
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s all;
    }

    .top-bar nav.active{
        left: 0;
    }

    .top-bar nav ul{
        display: block;
        text-align: center;
    }

    .top-bar nav ul li a{
        border-bottom: 1 px solid rgba(0, 0, 0, 0.2);
        color: rgb(255, 255, 255);
    }

    .pengajuan-image img{
        height: 450px;
        margin-left: 15px;
    }

    .pengajuan-inputan form{
        margin-left: 130px;
    }

    .pilih-ruangan{
        width: 80%;
    }

    .button-submit{
        margin-left: 90px;
    }
}

@media screen and (max-width: 600px) {
    .menu-toggle{
        margin-left: 410px;
    }
}

@media screen and (max-width: 390px) {
    .menu-toggle{
        margin-left: 220px;
    }

    .main-content{
        margin-left: 5px;
    }

    .pengajuan-image img{
        height: 250px;
        margin-left: 5px;
    }

    .pengajuan-inputan{
        margin-left: 5px;
    }

    .button-submit{
        margin-left: 60px;
    }
}