@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background: url(/assets/bg-user.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.mahasiswa{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container{
    min-width: none;
    margin: 0;
}

.top-bar{
    width: 100%;
    background-color: #41439A;
    position: fixed;
    top: 0;
    z-index: 5;
    color: white;
}

.top-bar .logo, .link, .link li, .avatar{ 
    display: inline-block;
}

.logo .logo-jti{
    width: 35px;
    height: 35px;
    margin-left: 35px;
    margin-top: 2px;
}

.link ul{
    margin-left: 390px;
    margin-top: 10px;
}

.link li{
    margin-right: 10px;
}

ul li a{
    text-decoration: none;
    color: white;
}

.navbar a.logout{
    margin-left: 290px;
}

.menu-toggle{
    color: rgb(94, 94, 94);
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.bg-hero .bg-user{
    width: 100%;
    height: 420px;
}

.hero {
   position: relative; 
}

.bg-hero .text-hero{
    position: absolute;
    margin-top: 150px;
    margin-left: 260px;
    text-align: center;
    color: white;
}

.bg-hero .search-hero{
    position: absolute;
    z-index: 2;
    width: 90%;
    margin-top: 340px;
    margin-left: 65px;
}

.photo-class{
    margin-top: 20px;
    margin-left: 10px;
    max-height: 120px;
    border: 1px solid #ddd;
    display: flex;
    overflow-x: auto;
}

.photo-class::-webkit-scrollbar{
    width: 0;
}

.photo-class .item{
    min-width: 110px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    background-color: #ddd;
    margin-right: 2px;
}

.photo-class img{
    height: 150px;
}

.watch-more{
    margin-left: 610px;
}

.watch-more a{
    text-decoration: none;
}

.check-class h1{
    margin-top: 50px;
    text-align: center;
}

.input-check .tanggal_mulai, .tanggal_selesai{
    display: inline-block;
    margin-top: 50px;
}

.input-check .tanggal_mulai{
    margin-left: 500px;
}

.input-check .submit-check{
    margin-top: 10px;
    margin-left: 645px;
}

.input-check span{
    color: #d9d9d9;
    margin-left: 540px;
}

.hint-user{
    margin-top: 50px;
}

.hint-user h1{
    margin-top: 50px;
    margin-left: 350px;
    text-align: center;
    position: absolute;
    color: white;
}

.row{
    position: relative;    
}

.row img{
    height: 300px;
    position: absolute;
    align-items: center;
    margin-top: 300px;
    margin-left: 150px;
}

.footer img{
    width: 100%;
    height: 730px;
}

.row p{ 
    position: absolute;
    margin-top: 200px;
    color: white;
    line-height: 40px;
    margin-top: 180px;
}

br.normal, a.responsive{
    display: none;
}

@media screen and (max-width: 812px) {
    .top-bar{
        padding: 0 20px;
    }

    .logo .logo-jti{
        margin-top: -45px;
    }

    .link ul{
        margin-left: 15px;
    }

    .link li{
        display: block;
        font-size: 20px;
        margin-top: 50px;
    }

    .navbar a.logout{
        margin-left: 10px;
    }

    .menu-toggle{
        display: block;
        margin-left: 600px;
        color: white;
    }

    .top-bar nav{
        position: absolute;
        width: 100%;
        height: 500px;
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s all;
    }

    .top-bar nav.active{
        left: 0;
    }

    .top-bar nav ul{
        display: block;
        text-align: center;
    }

    .top-bar nav ul li a{
        border-bottom: 1 px solid rgba(0, 0, 0, 0.2);
        color: rgb(255, 255, 255);
    }

    .bg-hero .text-hero{
        margin-top: 150px;
        margin-left: 20px;
    }

    br.responsive{
        display: none;
    }

    .bg-hero .search-hero{
        margin-left: 45px;
    }

    .watch-more{
        margin-left: 310px;
    }

    .input-check .tanggal_mulai{
        margin-left: 200px;
    }

    .input-check .submit-check{
        margin-left: 340px;
    }

    .hint-user h1{
        margin-left: 90px;
    }

    .row img{
        display: none;
    }

    .row p{ 
        margin-left: 20px;
        text-align: center;
    }

    .footer img{
        height: 550px;
    }

}

@media screen and (max-width: 600px) {
    .menu-toggle{
        margin-left: 410px;
    }

    .footer img{
        height: 710px;
    }
}
